# YAML 1.2
---
cff-version: "1.2.0"
title: "{{ package_name }}"
authors:
  - family-names: {{ full_name.replace('\"', '\\\"').split(' ')[-1] }}
    given-names: {{ full_name.replace('\"', '\\\"').split(' ')[0] }}
    orcid: "https://orcid.org/0000-0000-0000-0000"
date-released: {{ '%Y-%m-%d' | strftime }}
version: "{{ version }}"
repository-code: "{{ repository_url }}"
keywords:
{%- for item in keywords.split(',') %}
  - "{{ item }}"
{%- endfor %}
message: "If you use this software, please cite it using these metadata."
